   button{
       background-color: purple;
       color: white;
       width: 100px;
       height: 30px;
       padding: 10px;  
   }
   input ,button{
       width: 250px;
       height: 40px;
   }
   div{
    
       text-align: center;
       box-shadow: 0px 2px 5px 0px; 
       width: 400px;
       margin: auto;
       background-color: white;
       font-style: normal;
   }
   h4,p{
    color: purple;
   }
   